/* line 1, ../../../../Code/Project7/scss/base/_typography.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Anonymous Pro", monospace;
}

/* line 8, ../../../../Code/Project7/scss/base/_typography.scss */
a {
  text-decoration: none;
  color: #7477bf;
}

/* line 13, ../../../../Code/Project7/scss/base/_typography.scss */
ul {
  list-style: none;
}

/* line 17, ../../../../Code/Project7/scss/base/_typography.scss */
header {
  grid-area: header;
  width: 100%;
  height: 60px;
  background-color: #7477bf;
  color: white;
  display: grid;
}

/* line 26, ../../../../Code/Project7/scss/base/_typography.scss */
.header-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr;
  align-items: center;
}

/* line 32, ../../../../Code/Project7/scss/base/_typography.scss */
header span {
  font-weight: 100;
}

/* line 36, ../../../../Code/Project7/scss/base/_typography.scss */
#bellIcon {
  width: 25px;
  justify-self: center;
}

/* line 41, ../../../../Code/Project7/scss/base/_typography.scss */
.bellIconContainer {
  margin: auto;
}

/* line 43, ../../../../Code/Project7/scss/base/_typography.scss */
.bellIconContainer :hover {
  transform: scale(1.2);
}

/* line 48, ../../../../Code/Project7/scss/base/_typography.scss */
#header-img {
  width: 40px;
  border-radius: 50%;
  justify-self: center;
}

/* line 54, ../../../../Code/Project7/scss/base/_typography.scss */
header h1 {
  justify-self: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 grey, 1px 1px 0 grey;
}

/* line 60, ../../../../Code/Project7/scss/base/_typography.scss */
.studentName {
  justify-self: center;
  font-size: 13.5px;
}

/* line 65, ../../../../Code/Project7/scss/base/_typography.scss */
hr {
  margin: 25px;
}

/* ================================================================ */
/*                               Body                               */
/* ================================================================ */
/* line 73, ../../../../Code/Project7/scss/base/_typography.scss */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 79, ../../../../Code/Project7/scss/base/_typography.scss */
.headline {
  padding: 0 10px;
}

/* line 83, ../../../../Code/Project7/scss/base/_typography.scss */
.light-grey-tab {
  background-color: #f5f5f5;
  border: 1px solid #cfcfcf;
  width: 57%;
  height: 50px;
}

/* line 90, ../../../../Code/Project7/scss/base/_typography.scss */
.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7477bf;
  color: white;
  width: 90vw;
  margin: 10px auto 0 auto;
  padding: 8px;
  border-radius: 7px;
}

/* line 100, ../../../../Code/Project7/scss/base/_typography.scss */
.alert p {
  font-size: 13px;
}

/* line 105, ../../../../Code/Project7/scss/base/_typography.scss */
.traffic {
  padding: 10px;
}

/* line 108, ../../../../Code/Project7/scss/base/_typography.scss */
.traffic,
.daily-traffic,
.mobile-users {
  border-bottom: 1px solid #cccccc;
}

/* line 114, ../../../../Code/Project7/scss/base/_typography.scss */
.daily-traffic {
  padding: 0 10px 10px 10px;
}

/* line 119, ../../../../Code/Project7/scss/base/_typography.scss */
.daily-traffic h3 {
  padding: 10px 0;
}

/* line 123, ../../../../Code/Project7/scss/base/_typography.scss */
.mobile-users {
  padding: 10px;
}

/* line 125, ../../../../Code/Project7/scss/base/_typography.scss */
.mobile-users h3 {
  padding-bottom: 10px;
}

/* line 130, ../../../../Code/Project7/scss/base/_typography.scss */
.socialStatsH3 {
  padding: 10px 0 0 10px;
}

/* line 134, ../../../../Code/Project7/scss/base/_typography.scss */
.new-members,
.recent-activity,
.message-user,
.settings {
  border-top: 1px solid #cccccc;
  padding: 10px;
}

/* ============================================= */
/*                  Charts                       */
/* ============================================= */
/* line 145, ../../../../Code/Project7/scss/base/_typography.scss */
.widget-container-traffic,
.widget-container-daily-traffic,
.widget-container-mobile-users {
  width: 93vw;
  height: 150px;
}

/* ===================================== */
/*              Social Stats             */
/* ===================================== */
/* line 155, ../../../../Code/Project7/scss/base/_typography.scss */
.facebook-stats,
.instagram-stats,
.twitter-stats {
  border: 2px solid #d1d1d1;
  border-radius: 10px;
  width: 90%;
  margin: 20px auto;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}

/* line 167, ../../../../Code/Project7/scss/base/_typography.scss */
#facebook-text-header,
#instagram-text-header,
#twitter-text-header {
  font-size: 1.25rem;
  color: #7477bf;
}

/* line 174, ../../../../Code/Project7/scss/base/_typography.scss */
#facebook-text-number,
#instagram-text-number,
#twitter-text-number {
  font-size: 2rem;
  color: #777777;
}

/* ===================================== */
/*      New Members/Recent Activity      */
/* ===================================== */
/* line 185, ../../../../Code/Project7/scss/base/_typography.scss */
.styleTag {
  text-align: center;
}

/* line 189, ../../../../Code/Project7/scss/base/_typography.scss */
#new-members-header,
#recent-activity-header {
  margin-bottom: 15px;
}

/* line 194, ../../../../Code/Project7/scss/base/_typography.scss */
#Victoria-Chambers a,
#Dale-Byrd a,
#Dawn-Wood a,
#Dan-Oliver a {
  display: block;
}

/* ===================================== */
/*                Settings               */
/* ===================================== */
/* line 205, ../../../../Code/Project7/scss/base/_typography.scss */
#send-email-notifactions-header {
  padding-right: 15px;
}

/* line 208, ../../../../Code/Project7/scss/base/_typography.scss */
#set-profile-to-public-toggle {
  padding-right: 40px;
}

/* line 1, ../../../../Code/Project7/scss/components/_buttons.scss */
button {
  background-color: #7477bf;
  border: none;
  color: white;
}

/* line 6, ../../../../Code/Project7/scss/components/_buttons.scss */
#bellIcon:hover {
  fill: green;
}

/* ===================================== */
/*             Message User              */
/* ===================================== */
/* line 12, ../../../../Code/Project7/scss/components/_buttons.scss */
#message-user-button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #d1d1d1;
  background-color: #7477bf;
  color: white;
}

/* line 20, ../../../../Code/Project7/scss/components/_buttons.scss */
.settings-buttons {
  display: flex;
  justify-content: space-between;
}

/* line 25, ../../../../Code/Project7/scss/components/_buttons.scss */
#save-button,
#cancel-button {
  width: 48%;
  height: 40px;
  border: 2px solid #d1d1d1;
  border-radius: 10px;
}

/* line 33, ../../../../Code/Project7/scss/components/_buttons.scss */
#save-button {
  background-color: #7477bf;
  color: white;
}

/* line 38, ../../../../Code/Project7/scss/components/_buttons.scss */
#cancel-button {
  background-color: #999999;
  color: white;
}

/* ===================================== */
/*             Message User              */
/* ===================================== */
/* line 5, ../../../../Code/Project7/scss/components/_forms.scss */
#message-user-search {
  border: 2px solid #d1d1d1;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
  margin-top: 10px;
  padding-left: 15px;
}

/* line 11, ../../../../Code/Project7/scss/components/_forms.scss */
#message-user-message {
  border: 2px solid #d1d1d1;
  border-radius: 10px;
  width: 100%;
  height: 120px;
  background-color: #f5f5f5;
  margin: 10px 0;
  padding-left: 14px;
  padding-top: 10px;
}

/* ================================= */
/*             Settings              */
/* ================================= */
/* line 26, ../../../../Code/Project7/scss/components/_forms.scss */
.settings {
  padding-bottom: 20px;
}

/* line 30, ../../../../Code/Project7/scss/components/_forms.scss */
.switch-light {
  padding: 10px 0;
}

/* line 34, ../../../../Code/Project7/scss/components/_forms.scss */
#Timezones {
  border: 2px solid #d1d1d1;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
  margin: 25px 0 15px 0;
  padding-left: 10px;
}

/* line 1, ../../../../Code/Project7/scss/components/_navigation.scss */
nav {
  grid-area: nav;
  background-color: #4d4c72;
  display: flex;
  max-height: 60px;
}

/* line 8, ../../../../Code/Project7/scss/components/_navigation.scss */
.navigation {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

/* line 14, ../../../../Code/Project7/scss/components/_navigation.scss */
.navigation a {
  display: flex;
  flex-grow: 1;
  padding: 15px;
  height: 4rem;
  justify-content: center;
}

/* line 23, ../../../../Code/Project7/scss/components/_navigation.scss */
.traffic-nav {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 10px;
}

/* line 28, ../../../../Code/Project7/scss/components/_navigation.scss */
.traffic-nav :first-child {
  background-color: #81c98f;
  color: white;
  border-radius: 30px;
}

/* line 2, ../../../../Code/Project7/scss/components/_grid.scss */
body {
  display: grid;
}

/* line 6, ../../../../Code/Project7/scss/components/_grid.scss */
main {
  grid-area: main;
}

/* line 10, ../../../../Code/Project7/scss/components/_grid.scss */
.grid-container {
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header header" "nav nav" "main main";
}

@media (min-width: 768px) {
  /* line 2, ../../../../Code/Project7/scss/components/_media-queries.scss */
  header {
    height: 80px;
  }
  /* line 5, ../../../../Code/Project7/scss/components/_media-queries.scss */
  h3 {
    padding-left: 5px;
  }
  /* line 8, ../../../../Code/Project7/scss/components/_media-queries.scss */
  body {
    display: grid;
  }
  /* line 11, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .grid-container {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header" "nav main";
  }
  /* line 18, ../../../../Code/Project7/scss/components/_media-queries.scss */
  header {
    display: flex;
  }
  /* line 20, ../../../../Code/Project7/scss/components/_media-queries.scss */
  header h1 {
    padding-left: 0.938rem;
    padding-right: 26.25rem;
  }
  /* line 25, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .nav-container {
    grid-row-start: 2;
    grid-column-start: 1;
  }
  /* line 29, ../../../../Code/Project7/scss/components/_media-queries.scss */
  nav {
    display: table-cell;
    height: 148rem;
    width: 90px;
  }
  /* line 34, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .navigation {
    display: inline;
  }
  /* line 37, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .light-grey-tab {
    width: 80%;
  }
  /* line 40, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #alert-bar {
    width: 85vw;
  }
  /* line 42, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #alert-bar p {
    font-size: 14px;
  }
  /* line 46, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .traffic-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* line 51, ../../../../Code/Project7/scss/components/_media-queries.scss */
  li {
    padding: 10px;
  }
  /* line 54, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #traffic-header {
    padding-left: 10px;
  }
  /* line 57, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .traffic-nav {
    padding-top: 0;
  }
  /* line 60, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .widget-container-traffic {
    width: 700px;
    height: 300px;
  }
  /* line 64, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .daily-traffic,
  .mobile-users {
    width: 43vw;
    display: inline-block;
  }
  /* line 69, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #daily-traffic-chart {
    width: 240px;
  }
  /* line 72, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .widget-container-daily-traffic,
  .widget-container-mobile-users {
    width: 320px;
    height: 200px;
  }
  /* line 77, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .daily-traffic {
    border-right: 1px solid #cccccc;
  }
  /* line 80, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .social-stats {
    display: flex;
  }
  /* line 83, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .facebook-stats {
    margin: 10px 5px 10px 10px;
  }
  /* line 86, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .instagram-stats {
    margin: 10px 5px 10px 5px;
  }
  /* line 89, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .twitter-stats {
    margin: 10px 10px 10px 5px;
  }
  /* line 92, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .new-members,
  .recent-activity {
    display: flex;
    flex-direction: column;
  }
  /* line 96, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .new-members img,
  .recent-activity img {
    padding-right: 15px;
  }
  /* line 100, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #Victoria-Chambers,
  #Dale-Byrd,
  #Dawn-Wood,
  #Dan-Oliver,
  #Victoria-Chambers-recent-activity,
  #Dale-Byrd-recent-activity,
  #Dawn-Wood-recent-activity,
  #Dan-Oliver-recent-activity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  /* line 112, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #Victoria-Chambers span,
  #Dale-Byrd span,
  #Dawn-Wood span,
  #Dan-Oliver span,
  #Victoria-Chambers-recent-activity span,
  #Dale-Byrd-recent-activity span,
  #Dawn-Wood-recent-activity span,
  #Dan-Oliver-recent-activity span {
    padding-left: 500px;
    color: #7477bf;
  }
  /* line 117, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #Dan-Oliver-recent-activity span {
    padding-left: 515px;
  }
  /* line 120, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #Victoria-Chambers p,
  #Dale-Byrd p,
  #Dawn-Wood p,
  #Dan-Oliver p {
    text-align: left;
  }
  /* line 127, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #Victoria-Chambers a {
    padding-right: 16.625rem;
  }
  /* line 131, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #Dale-Byrd a,
  #Dawn-Wood a {
    padding-right: 21rem;
  }
  /* line 137, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #Dan-Oliver {
    margin-bottom: 15px;
  }
  /* line 139, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #Dan-Oliver a {
    padding-right: 20.375rem;
  }
  /* line 144, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #Victoria-Chambers a,
  #Dale-Byrd a,
  #Dawn-Wood a,
  #Dan-Oliver a {
    display: inline;
  }
  /* line 151, ../../../../Code/Project7/scss/components/_media-queries.scss */
  hr {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 156, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .recent-activity p {
    text-align: left;
  }
  /* line 160, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #send-email-notifactions-header,
  #set-profile-to-public-toggle {
    padding-left: 5px;
  }
  /* line 164, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .settings-slider {
    max-width: 100px;
  }
}

@media (min-width: 1024px) {
  /* line 170, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .header-container h1 {
    padding-right: 42.25rem;
  }
  /* line 173, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .headline {
    padding: 0;
    margin: 0 auto;
  }
  /* line 178, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #alert-bar {
    width: 88vw;
  }
  /* line 180, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #alert-bar p {
    font-size: 15px;
  }
  /* line 184, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .new-members,
  .recent-activity,
  .message-user,
  .settings {
    width: 50%;
    float: left;
  }
  /* line 191, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .daily-traffic,
  .mobile-users {
    width: 45.9vw;
    float: left;
  }
  /* line 196, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .widget-container-traffic {
    width: 90vw;
    height: 340px;
  }
  /* line 200, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .widget-container-daily-traffic,
  .widget-container-mobile-users {
    width: 445px;
    height: 200px;
  }
  /* line 205, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #Victoria-Chambers,
  #Dale-Byrd,
  #Dawn-Wood,
  #Dan-Oliver,
  #Victoria-Chambers-recent-activity,
  #Dale-Byrd-recent-activity,
  #Dawn-Wood-recent-activity,
  #Dan-Oliver-recent-activity {
    flex-wrap: nowrap;
  }
  /* line 214, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #Victoria-Chambers span,
  #Dale-Byrd span,
  #Dawn-Wood span,
  #Dan-Oliver span,
  #Victoria-Chambers-recent-activity span,
  #Dale-Byrd-recent-activity span,
  #Dawn-Wood-recent-activity span,
  #Dan-Oliver-recent-activity span {
    padding-left: 250px;
  }
  /* line 218, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #Dan-Oliver-recent-activity span {
    padding-left: 265px;
  }
  /* line 221, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .new-members {
    border-right: 1px solid #777777;
    border-bottom: 1px solid #777777;
  }
  /* line 225, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .recent-activity {
    border-bottom: 1px solid #777777;
  }
  /* line 228, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #Victoria-Chambers a {
    padding-right: 0.625rem;
  }
  /* line 231, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #Dale-Byrd a,
  #Dawn-Wood a {
    padding-right: 5rem;
  }
  /* line 235, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #Dan-Oliver a {
    padding-right: 4.375rem;
  }
  /* line 238, ../../../../Code/Project7/scss/components/_media-queries.scss */
  #Dan-Oliver-recent-activity {
    padding-bottom: 15px;
  }
  /* line 241, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .message-user {
    border-right: 1px solid #777777;
  }
  /* line 244, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .settings {
    height: 274px;
  }
  /* line 247, ../../../../Code/Project7/scss/components/_media-queries.scss */
  .settings-buttons {
    margin-top: 9px;
  }
  /* line 250, ../../../../Code/Project7/scss/components/_media-queries.scss */
  nav {
    height: 104rem;
  }
}

/* line 1, ../../../../Code/Project7/scss/components/_images.scss */
#vcImage,
#dbImage,
#dwImage,
#doImage {
  border-radius: 50%;
  width: 80px;
}

/* ===================================== */
/*              Social Stats             */
/* ===================================== */
/* line 14, ../../../../Code/Project7/scss/components/_images.scss */
.facebook-image,
.instagram-image,
.twitter-image {
  width: 90px;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */