#vcImage,
#dbImage,
#dwImage,
#doImage
 {
    border-radius: 50%;
    width: 80px;
}

/* ===================================== */
/*              Social Stats             */
/* ===================================== */

.facebook-image,
.instagram-image,
.twitter-image {
   width: 90px;
   padding: 20px;
}
